In [3]:
!python --version

Python 3.10.2

In [4]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
dataset = load_iris()
X, y = load_iris(return_X_y=True)
df = pd.DataFrame(X, columns=dataset.feature_names)
df['label'] = y

In [20]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [30]:
means, stds = df.iloc[:, 0:-1].mean(), df.iloc[:, 0:-1].std()

In [34]:
mean_per_type = dict()
std_per_type = dict()
labels = df['label'].unique()
for label in labels:
    mask = df['label'] == label
    mean_per_type[label] = dict(df[mask].iloc[:, :-1].mean())
    std_per_type[label] = dict(df[mask].iloc[:, :-1].std())

'setosa'

In [37]:
std_per_type

{0: {'sepal length (cm)': 0.35248968721345136,
  'sepal width (cm)': 0.3790643690962887,
  'petal length (cm)': 0.17366399648018407,
  'petal width (cm)': 0.10538558938004565},
 1: {'sepal length (cm)': 0.5161711470638634,
  'sepal width (cm)': 0.3137983233784114,
  'petal length (cm)': 0.46991097723995795,
  'petal width (cm)': 0.19775268000454405},
 2: {'sepal length (cm)': 0.6358795932744322,
  'sepal width (cm)': 0.32249663817263746,
  'petal length (cm)': 0.5518946956639834,
  'petal width (cm)': 0.2746500556366674}}

In [38]:
mean_per_type

{0: {'sepal length (cm)': 5.005999999999999,
  'sepal width (cm)': 3.428000000000001,
  'petal length (cm)': 1.4620000000000002,
  'petal width (cm)': 0.2459999999999999},
 1: {'sepal length (cm)': 5.936,
  'sepal width (cm)': 2.7700000000000005,
  'petal length (cm)': 4.26,
  'petal width (cm)': 1.3259999999999998},
 2: {'sepal length (cm)': 6.587999999999998,
  'sepal width (cm)': 2.9739999999999998,
  'petal length (cm)': 5.552,
  'petal width (cm)': 2.026}}